<div class="container">
    <nav id="nav">
        <h1>Notes:<h1>
        <%= form_with url: create_note_path, method: :post, local: true do |f| %>
            <button type="submit">
                New Note
            </button>
        <% end %>
        <ul>
          <% @files.each do |file| %>
            <li>
              <%= link_to file, root_path(selected: file) %>
            </li>
          <% end %>
        </ul>
    </nav>
    <% if @selected.present? %>
      <div id="editor">
        <%= form_with url: update_note_path, method: :post, local: true do |f| %>
          <%= hidden_field_tag :filename, @selected %>
          <%= text_area_tag :content, @selected_file_content, id: "note-textarea" %>
          <button type="submit">Save</button>
        <% end %>
      </div>
      <div id="preview">
        <!-- You can add preview logic here if needed -->
      </div>
    <% else %>
      <div id="preview" style="grid-column: 2 / span 3; text-align: center; padding: 2em;">
        Nothing to show here. Please create a new note or select an existing one.
      </div>
    <% end %>
</div>